.na{
    background-color: goldenrod;
    width: 98.8vw;
    height: 2.5vw;
    display: flex;
    padding-left: 20vw;
    gap: 3vw;
    
}

.ab{
    display: flex;
    flex-direction: row;
    align-items:first baseline ;
    
    gap: .5vw;
    font-size: 1vw;
    margin-top: 1vw;
    
    
}