.ac{
    background-color: rgb(3, 23, 39);
    width: 98.8vw;
    height: 4vw;
    display: flex;
    gap: 3vw;
    text-decoration: none;
    padding-left: 20vw;
    padding-top: 1vw;
    
    
}
.aa{
    text-decoration: none;
    color: white;
    font-size: 1vw;
    
    
    
    

}
.di{
    background-color: goldenrod;
    border: none;
    border-radius: 3px;
    width: 10vw;
    font-size: 1vw;
    height: 2.3vw;
    margin-top: -.2vw;
}