 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
 }

 .header-nav {
   display: flex;
   margin: auto;

 }

 .Sall {
   background-color: rgb(239, 235, 224);
 }

 .banner-brand {
   display: flex;
   justify-content: space-between;
 }

 .banner {
   display: flex;
   margin-left: 9rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
   margin-right: 10rem;

 }

 .banner img {
   width: 5rem;
   height: 5rem;
 }

 .banner.pop {
   font-size: 7px;
 }

 .navbar a {
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 1.8rem;
   text-decoration: none;
   color: dimgray;
   font-size: 12px;


 }

 .btn-1 {
   text-decoration: none;
   background-color: rgb(235, 172, 11);
   border: none;
   padding: .3rem;
   border-radius: 4px;
 }

 .btn-1:hover {
   background-color: gold;
   transition: 2s ease-in;
 }

 .hero img {
   width: 100%;
   height: 50vh;
   margin-bottom: 2rem;
   margin: auto;
 }

 .BANNER-HERO {
   position: relative;
 }

 .place {
   position: absolute;
   top: 8rem;
   left: 35rem;
   color: white;
   background-color: goldenrod;
   padding: 6px;
   border-radius: 5px;

 }

 .mid a {
   color: rgb(27, 27, 65);
   text-decoration: none;
 }

 .section1 {
   display: flex;
   justify-content: space-around;
   margin-top: 5rem;
 }

 .sectionDiv-1 {
   height: 70vh;
   font-size: 10px;
   border: 1px solid;
 }

 .bob img {
   width: 25px;
   border-radius: 20px;
   background-color: goldenrod;
   font-size: 5px;
   padding: 7px;
   margin-top: 20px;

 }

 .bob .p1 {
   position: relative;
   bottom: 2.5rem;
   font-size: 10px;
   margin-left: 2.5rem;
 }

 h2 {
   font-size: 1rem;
 }

 .sectionDiv-2 {
   font-size: 1rem;
   background-color: rgb(253, 246, 234);
   border: 1px solid;
 }

 .article-1 {
   padding: .5rem;
   border: 1px solid;
 }

 .form-1 {
   padding: 1rem;
   border: 1px solid;
   width: 50vw;
   height: 40vh;
   position: relative;
 }

 .text {
   margin: 5px;
   border: none;
   border: 1px solid;
   margin-bottom: 4rem;
   ;
 }

 .subject {
   /* width: 9; */
   margin-left: 5px;
 }

 .area {
   /* width: 97.5%; */
   /* height: 40vh; */
 }

 .submit {
   background-color: goldenrod;
   padding: 6px;
   border-radius: 3px;
 }

 .submit:hover {
   background-color: gold;
 }

 .form2 {
   margin: 8px auto;
   text-align: center;
   width: 82%;
   height: 35vh;
   padding: 5px;
   background-color: rgb(253, 246, 234);
   position: relative;
   top: 5rem;
   border-radius: 5px;

 }

 .text1 {
   border: none;
   padding: 4px;
 }

 .button2 {
   border: none;
   padding: 6px;
   background-color: goldenrod;
   border-radius: 3px;
 }

 .button2:hover {
   background-color: gold;
 }

 .footer {
   display: flex;
   justify-content: space-around;
   width: 100%;
   height: 75%;
   background-color: #080830;
   margin-top: 50px;
   color: white;
 }

 .DIV6 {
   margin-top: 2rem;
   font-size: 12px;
 }

 .logo3 {
   width: 10rem;
 }

 .logo3 img {
   width: 1rem;
 }

 .logo7 img {
   width: 5vw;

 }

 .link {
   margin-top: 1rem;
   font-size: 12px;
   margin-left: 5px;
   padding: 30px;
 }

 .link img {
   width: 1rem;
   background-color: gold;
   height: 2rem;

 }

 .link a {
   color: white;
   text-decoration: none;
   margin-left: 1px;



 }

 .contact-info {
   margin-top: 3.5rem;
   font-size: 12px;


 }

 .contact-info img {
   width: 1rem;
   background-color: gold;
   padding: 5px;
   border-radius: 10px;
 }

 .footer-4 {
   margin-top: 3rem;
 }

 .footer-4 img {
   width: 6rem;
   padding: 5px;
 }