.account .dropdown-toggle {
    background-color: #d4af37;
    /* justify-self: end;
    justify-self: right; */
    /* position: fixed; */
    margin-bottom: 2rem;
    /* border: 1px solid; */
    float: right;
    /* border: 1px solid; */
    /* margin-right: 1rem; */
}

/* .boot .dropdown-menu {
    background-color: aqua;
}

.boot-item .dropdown-item {
    background-color: #000
} */

.inputIcons {
    color: #fff;
    margin-right: 1rem;
}

.moveInline {
    /* float: right; */
    /* border: 1px solid; */
    width: 98vw;
    /* margin-bottom: 3rem; */
}

/* .moveInline .account {
    justify-self: end;
} */