.jio{
    background-color: whitesmoke;
    display:grid;
    grid-template-columns: 20vw 20vw 20vw;
    gap:1vw;
    padding: 10vw;
    padding-left: 18vw;
    
}

.kl{
    font-size: 1vw;
    display: flex;
    justify-content: space-between;
    font-size: 1.4vw;
    padding: 1vw;
    margin-top: -7vw;
    margin-bottom: 1vw;

    color: goldenrod;
}

.kll{
    font-size: 1vw;
    display: flex;
    justify-content: space-between;
    font-size: 1vw;
    padding: 1vw;
    margin-top: -4vw;
    color: white;
    font-style:oblique;

}

.kaa{
    
    display: flex;
    flex-direction: row;
    font-style:oblique;
    gap: 4vw;
    padding: 3vw;
    margin-left: 3vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ww{
    font-style:oblique;
    display: flex;
    gap: 4vw;
    background-color: white;
    width: 70vw;
    margin-top: 2vw;
}